
{{#partial "content"}}

    <form>
        <label for="name"> Name: </label>
        <input type="text" id="name" name="name" required>

        <label for="email"> Email:</label>
        <input type="email" required>

        <label for="password"> Password: </label>
        <input type="password" required>
        <label for="confirm">Confirm password:</label>
        <input type="password" required>

    </form>
{{/partial}}



